(:description $n.summary :) [[<<]]
%newwin%[[$n.url | '''$n.title''']]

#echo ($n.summary)#

(:table border=1 cellpadding=5:)
(:cell:) Author:
(:cell:) Publication Date:
(:cell:) Crawl Date:
(:cell:) Source:
(:cell:) Topic:
(:cell:) Contributor:
(:cell:) Type:
(:cell:) Language:
(:cell:) Format:
(:cellnr:)
(:cell:) #echo ($n.pubdate).strftime("%B %d, %Y")#
(:cell:) #echo ($n.crawldate).strftime("%B %d, %Y")#
(:cell:) $n.publisher
(:cell:) #for $cat in $n.categories# $cat #end for#
(:cell:) NewsFinder
(:cell:) Text
(:cell:) English
(:cell:) HTML
(:tableend:)

Whitelist words:
#for $w in $n.white_wordfreq
\# $w: $n.white_wordfreq[$w]#if $n.white_wordfreq[$w] == 1# occurrence #else# occurrences #end if#
#end for

Categorization (need >= 0.5 to match):
#for $cat in sorted($n.cat_probs.keys())
\# #if float($n.cat_probs[$cat]) >= 0.5#'''#end if#$cat: $n.cat_probs[$cat]#if float($n.cat_probs[$cat]) >= 0.5#'''#end if#
#end for

Duplicates (threshold=$dupthreshold):
#for $urlid,$title,$sim in sorted($n.duplicates)
\# (sim=#echo ("%.3f" % $sim)#) [[$year-$urlid | $urlid: $title]]
#end for

Transcript:
#for $s in $n.transcript
\# $s
#end for

(:tags #for $cat in $n.categories#$cat#if $cat != $n.categories[-1]#,#end if# #end for# :)

(:collections :) brokenlinkform:brokenlink


