(:description $n.desc :) [[<<]]
%newwin%[[$n.url | '''$n.title''']]

#echo ($n.desc).strip()#

(:table border=1 cellpadding=5:)
(:cell:) Author:
(:cell:) Publication Date:
(:cell:) Crawl Date:
(:cell:) Source:
(:cell:) Topic:
(:cell:) Contributor:
(:cell:) Type:
(:cell:) Language:
(:cell:) Format:
(:cellnr:)
(:cell:) #echo ($n.pubdate).strftime("%B %d, %Y")#
(:cell:) #echo ($n.crawldate).strftime("%B %d, %Y")#
(:cell:) $n.publisher
(:cell:) $n.topic
(:cell:) NewsFinder
(:cell:) Text
(:cell:) English
(:cell:) HTML
(:tableend:)

(:table border=1 cellpadding=5:)
(:cell:) Final score:
(:cell:) Initial rank:
(:cell:) Final rank:
(:cell:) Average rating:
(:cell:) Average admin rating:
(:cell:) Rating standard deviation:
(:cell:) Count of ratings:
(:cellnr:) $n.score
(:cell:) $n.initsvm
(:cell:) $n.svmscore
(:cell:) $n.rate
(:cell:) $n.adminrate
(:cell:) $n.ratesd
(:cell:) $n.ratecount
(:tableend:)

Score breakdown:

#for $s in $n.transcript
\#$s
#end for

Topic breakdown:

<table>
#for $topic,$sim in sorted($n.topicsims.items(), key=lambda x: x[1], reverse=True)
<tr><td>$topic</td><td>#echo '%.4f' % $sim #</td></tr>
#end for
</table>

(:collections :) brokenlinkform:brokenlink


